<section class="first-screen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <h1>
          Профессиональный клининг и техническая эксплуатация
        </h1>
      </div>
      <div class="col-xl-12">
        <h2>
          Выполняем все виды профессиональной уборки жилых <br>
          и коммерческих помещений, а также уличных территорий
        </h2>
      </div>
      <div class="col-xl-12">
        <div class="first-screen__buttons">
          <a href="#">Жилая недвижимость</a>
          <a href="#">Коммерческая недвижимость</a>
        </div>
      </div>
    </div>
  </div>
</section>
