<section class="first-screen">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="first-screen__nav">

          <li>Клининг</li>
          <li>Эксплуатация</li>
          <li>Пожарная безопасность</li>
          <li>Энергосети</li>
          <li>Водоснабжение</li>

        </ul>
      </div>
      <div class="col-md-10">
        <ul class="first-screen__elem">
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h1>
                    Профессиональный клининг и техническая эксплуатация
                  </h1>
                </div>
                <div class="col-xl-12">
                  <h2>
                    Выполняем все виды профессиональной уборки жилых <br>
                    и коммерческих помещений, а также уличных территорий
                  </h2>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="/clining.html">Подробнее</a>
                    <a href="#">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h1>
                    Профессиональная эксплуатация
                  </h1>
                </div>
                <div class="col-xl-12">
                  <h2>
                    Выполняем все виды профессиональной уборки жилых <br>
                    и коммерческих помещений, а также уличных территорий
                  </h2>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="#">Подробнее</a>
                    <a href="#">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h1>
                    Профессиональная пожарная безопасность
                  </h1>
                </div>
                <div class="col-xl-12">
                  <h2>
                    Выполняем все виды профессиональной уборки жилых <br>
                    и коммерческих помещений, а также уличных территорий
                  </h2>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="#">Подробнее</a>
                    <a href="#">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h1>
                    Профессиональные єнерогосети
                  </h1>
                </div>
                <div class="col-xl-12">
                  <h2>
                    Выполняем все виды профессиональной уборки жилых <br>
                    и коммерческих помещений, а также уличных территорий
                  </h2>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="#">Подробнее</a>
                    <a href="#">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h1>
                    Профессиональное водоснабжение
                  </h1>
                </div>
                <div class="col-xl-12">
                  <h2>
                    Выполняем все виды профессиональной уборки жилых <br>
                    и коммерческих помещений, а также уличных территорий
                  </h2>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="#">Подробнее</a>
                    <a href="#">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


</section>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-12">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
