<section class="footer">
  <div id="map"></div>

  <div class="container">
    <div class="row">
      <div class="footer__contacts">
        <h6>
          Наши контакты
        </h6>
        <p>
          <a href="tel:+84951342249">
            8 (495) 134 22 49
          </a>
        </p>
        <p>
          <a href="#">
          Москва, ул. Новокосинская,
          д. 20, корп. 2, пом. 1Б
          </a>
        </p>
        <p>
          <a href="mailto:info@services.ru">
            info@services.ru
          </a>
        </p>
      </div>
    </div>
  </div>
  <footer class="footer__nav">
    <div class="container">
      <div class="row d-flex justify-content-around align-items-center flex-row">

        <div class="logo logo_footer">
          <a href="#"> Cleaning
            <strong>
              клининговая компания
            </strong>
          </a>
        </div>
        <div class="nav nav_footer d-flex justify-content-between flex-column flex-wrap">
          <a href="#">
            Главная
          </a>
          <a href="#">
            Преимущества
          </a>
          <a href="#">
            Услуги
          </a>
          <a href="#">
            О  нас
          </a>
          <a href="#">
            Обьекты
          </a>
          <a href="#">
            Партнеры
          </a>
          <a href="#">
            Отзывы
          </a>
          <a href="#">
            Контакты
          </a>
        </div>
        <div class="work-schedule">
          График работы офиса
          <p>
            Пн-Пт с 10:00 до 19:00
            <br>
            Сб-Вс с 10:00 до 17:00
          </p>
        </div>
        <div class="button button_footer">
          <a href="#">Оставить заявку</a>
        </div>
      </div>
    </div>
  </footer>
</section>
