<header class="header">
  <div class="container">
    <div class="row">
      <nav class="nav">
        <a href="#Home">
          Главная
        </a>
        <a href="#Advantage">
          Преимущества
        </a>
        <a href="#Services">
          Услуги
        </a>
        <a href="#About">
          О  нас
        </a>
        <a href="#Objects">
          Обьекты
        </a>
        <a href="#Partners">
          Партнеры
        </a>
        <a href="#Reviews">
          Отзывы
        </a>
        <a href="#Contacts">
          Контакты
        </a>
      </nav>

    </div>

  </div>
</header>
<div class="menu__btn">
  <div class="bar"></div>
</div>
