<section class="reviews" id="Reviews">
  <div class="container">
      <div class="reviews__block">
        <div class="row">
          <div class="col-12 col-lg-7 order-lg-1 order-2">
              <div class="reviews__slider">
                <div class="img">
                  <a data-fancybox="gallery" href="img/mail-1.png">
                    <img src="/img/mail-1.png" alt="">
                  </a>
                </div>
                <div class="img">
                  <a data-fancybox="gallery" href="img/mail-2.png">
                    <img src="/img/mail-2.png" alt="">
                  </a>
                </div>
                <div class="img">
                  <a data-fancybox="gallery" href="img/mail-3.png">
                    <img src="/img/mail-3.png" alt="">
                  </a>
                </div>
                <div class="img">
                  <a data-fancybox="gallery" href="img/mail-3.png">
                    <img src="/img/mail-3.png" alt="">
                  </a>
                </div>
              </div>
          </div>
          <div class="col-12 col-lg-5 order-lg-2 order-1">
            <div class="info info_reviews reviews__title">
              <h2>
                Отзывы клиентов
              </h2>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
